.signup-formContainer {
    background-color: #2d2a5c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .formWrapper {
      background-color: rgb(0, 0, 0);
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      opacity: 0.7;
      color: white;
      box-shadow: 0 0 5px rgb(0, 0, 0);

  
      .logo {
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
  
      }
  
      .title {
        color: #9d9bd1;
        font-size: 20px;
        font-weight: bolder;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          width: 250px;
          background: transparent;
          border-bottom: 1px solid #a7bcff;
          color: #ffffff;
          &::placeholder {
            color: rgb(255, 255, 255);
          }
        }
  
        button {
          background-color: #0c77c2;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;

          &:hover {
            background-color: #228dd9;
        }
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
  
          img {
            width: 32px;
          }
        }
      }
      p {
        color: #a8a7c2;
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }