@import "../../style.scss";

.Message {
    @include themify($themes) {

        display: flex;
        gap: 20px;
        margin-bottom: 20px;
        max-width: 1200px;

        .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            span {
                font-size: 13px;
            }
        }

        .messageContent {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
                color: themed("MessageTextColor");
                background-color: themed("receivedMessageBg");
                padding: 10px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: 90%;
                font-size: 17px;
                font-weight: 600;
                box-shadow: 0 0 7px #11111180;
                overflow-wrap: break-word;
            }

            img {
                width: 50%;
                box-shadow: 0 0 10px #6e6e6e80;
            }
        }

        &.owner {
            flex-direction: row-reverse;

            .messageContent {
                align-items: flex-end;

                p {
                    background-color:  themed("sendMessageBg");
                    color:  themed("MessageTextColor");
                    border-radius: 10px 10px 0px 10px;
                }
            }
        }
    }
}